
/* Styling the main login page  */
.container-main{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;  /* Horizontal Alignment  */
    align-items: center;      /*  Vertical Alignment  */
}

/* Styling the conatiner that contains the login page */
.container{
    width: 80%;
    max-width: 500px;
    height: 350px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.03);
    border-radius: 20px;
    padding: 20px;
    background: linear-gradient(
    180deg,
    #cfe9f6 0%,
    #eef6fb 50%,
    #ffffff 100%
  );
    box-shadow: 
    0 20px 40px rgba(0, 40, 80, 0.12),
    0 4px 12px rgba(0, 40, 80, 0.08);
}
.choosing--buttons{
    display: flex;
    width: 100%;
}
.choosing--buttons button{
    justify-content: space-evenly;
    width: 40%;
    margin: auto 20px auto 20px;
    height: 40px;
}

#login-form{
    display: grid;
    height: 200px;
}

#signup-form {
    display: grid;
    height: 200px;
}


.container h2 {
    width: 100%;
    font-weight: normal;
    text-align: center;
    align-self: center;
    font-family: sans-serif;
}

.container button {
    border-radius: 10px;
    border: 0.5px solid #D9FFF8;
    cursor: pointer;
    font-size: 1.15rem;
    font-weight:550;
    font-family: sans-serif;
}

.block{
    width: 100%;
    align-content: center;
}

.inp{
    height: 80%;
}

.login{
    height: 80%;
}

.option.choosen{
    background-color: #58A4B0;
    color: white;
}
.signUp.choosen{
    background-color: #58A4B0;
    color: white; 
}

.signUp {
    height: 100%;
}

.container input{
    width: 100%;
    height: 70%;
    border-radius: 14px;
    border: 1px solid #cdcecf; 
    text-indent: 10px;
    background-color: #f3f4f6;
    color: #111827;
}

.container p{
    text-align: start;
    display: inline;
}

.policy{
    color: #1B1B1E;
    cursor: pointer;
}

.policy a{
    text-decoration: none;
}

.policy a:hover{
    color: rgb(106, 106, 162);
    text-decoration: underline;
    font-weight: bolder;
}

.login-btn input{
    height: 80%;
    cursor: pointer;
    background-color: black;
    color: whitesmoke;
}

.signup-btn input{
    height: 80%;
    cursor: pointer;
    background-color: black;
    color: whitesmoke;
}

.container h5{
    align-items: flex-end;
    justify-self: flex-end;
}

.new-user{
    height: 0px;
    text-align: end;
}

.a-tag{
    color: #58A4B0;
    cursor: pointer;
    text-decoration: none;
    color: red;
}
.a-tag:hover{
    color: #2D728F;
    text-decoration: underline;
    font-weight: 900;
}

.login-choosen{
    background-color: #ACD2ED;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    font-family: sans-serif;
}

.signUp-choosen{
    background-color: #ACD2ED;
    color:  white;
    font-size: 1rem;
    font-weight: bold;

} 

.footer-signup{
    margin-top: 20px;
}
.footer-login{
    margin-top: 0px;
}

.footer-signup input{
    width: 20px;
}
.footer-login input{
    width: 20px;
}

#signup-form{
    grid-column: 1/ 3;
}

.signup1 input{
    height: 80%;
}


/* So here upto which we have designed our Authentication form  */
/*    ----------------------------------------------         */
/* Lets continue with the Styling of Profile filling form  */



.complete--page--p{
    display: flex;
    flex-direction: column;
    text-align: center;
}


.complete--page--p #page--heading{
    margin: 20px auto 10px auto;
    color: blue;
    font-weight: bolder;    
}

.complete--page--p .boxes{
    width: 80%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    /* border: 2px solid black; */
    justify-content: space-evenly;
    margin: 40px auto 20px auto;
}
.complete--page--p .box{
    /* border: 1px dashed red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.complete--page--p .box h4{
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.complete--page--p .box p{
    font-size:x-small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.complete--page--p .circle{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    align-content: center;
    border: 2px solid rgb(74, 73, 73);
    background-color: rgba(245, 245, 220, 0.605);
    color: rgba(114, 111, 111, 0.889);
}

/*  ---------------------------------------------    */

/* Designing of first page of Personal Info  */

.info--section--p{
    display: grid;
    grid-gap: 10px 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(13, 0.9fr) 1.3fr;
    align-items: end;
    width: 70%;
    max-width: 900px;
    box-sizing: border-box;
    height: 700px;
    padding: 20px;
    border: 1px solid gray;
    box-sizing: border-box;
    box-shadow: 1px 2px 1px 1px gray;
    justify-self: center;
    text-align: start;
    align-self: center;
    text-indent: 4px;
}

.required{
    color: #ef4444;
    margin-left: 2px;
}

.info--section--p .head-tag{
    grid-column: 1/ 3;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    margin: 0px;
}
.info--section--p .tag{
    grid-column: 1/ 3;
    grid-row: 2/ 3;
    font-size: small;
    align-self: flex-start;
    margin: 0px;
    
}
.info--section--p .full--name{
    grid-column: 1/ 3;
    border: 0.7px solid rgb(104, 100, 100);
    border-radius: 7px;
    text-indent: 10px;
    height: 100%;
    margin-top: 0px;
}
.info--section--p .email--heading{
    grid-row: 5/ 6;
}
.info--section--p .email--input{
    grid-column: 1/ 3;
    border: 0.7px solid rgb(104, 100, 100);
    border-radius: 7px;
    text-indent: 10px;
    height: 100%;
}
.info--section--p .college--input{
    grid-row: 7/ 8;
}
.info--section--p .options--college{
    grid-row: 8/ 9;
    grid-column: 1/ 2;
    border: 0.7px solid rgb(104, 100, 100);
    border-radius: 7px;
    text-indent: 10px;
    height: 100%;
}
.info--section--p .options--year{
    grid-column: 2/ 3;
    border: 0.7px solid rgb(104, 100, 100);
    border-radius: 7px;
    text-indent: 10px;
    height: 100%;
}
.info--section--p .options--branch{
    grid-column: 1/ 2;
    border: 0.7px solid rgb(104, 100, 100);
    border-radius: 7px;
    text-indent: 10px;
    height: 100%;
}
.info--section--p .bio--heading{
    grid-row: 11/ 12;
}
.info--section--p .bio--input{
    grid-row: 12/ 14;
    grid-column: 1/ 3;
    border: 0.7px solid rgb(104, 100, 100);
    border-radius: 7px;
    text-indent: 10px;
    height: 100%;
}
.info--section--p #prev{
    grid-row: 14/ 15;
    grid-column: 1/ 2;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: aliceblue;
    color: rgba(0, 0, 0, 0.459);
    height: 100%;
    cursor: pointer;
    width: 40%;
}
.info--section--p #nextt{
    grid-row: 14/ 15;
    grid-column: 2/ 3;
    border-radius: 10px;
    background-color: blue;
    color: white;
    height: 100%;
    width: 90%;
    cursor: pointer;
}

/* Designing of Second page of skills -----------> */

.skills--info--p {
    width: 70%;
    max-width: 900px;
    height: fit-content;
    padding: 20px;
    border: 1px solid gray;
    box-sizing: border-box;
    box-shadow: 1px 2px 1px 1px gray;
    justify-self: center;
    text-align: start;
    text-indent: 4px;
    align-self: center;
}
.skills--info--p .technical--heading{
    margin: 10px auto 5px 0px;
    color: blue;
}

.skills--info--p .head-tag{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}

.skills--info--p .skills{
    margin: 5px;

}
.skills--info--p .suggestion{
    margin: 10px;
    padding: 8px;
    width: fit-content;
    border-radius: 20px;
    background-color: rgba(205, 205, 199, 0.705);
}
.skills--info--p .suggestion:hover{
    background-color:  rgba(138, 138, 136, 0.705);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.skills--info--p .suggestion--clicked{
    background-color: blue;
    color: white;
}

.skills--info--p .skill--input--area{
    display: flex;
    margin: 5px;
}

.skills--info--p .skill--input{
    width: 90%;
    border-radius: 10px;
    text-indent: 10px;
    height: 40px;
    margin-right: 10px;
}

.skills--info--p .skill--input--area .add--skill{
    border: none;
    color: white;
    width: 70px;
    background: linear-gradient(rgba(63, 63, 216, 0.673));
    border-radius: 15px;
    font-size:medium;  
    cursor: pointer;
}
.skills--info--p .skill--input--area .add--skill::before{
    content: "+";
    font-size: 22px;          /* makes + larger */
    font-weight: bold;
    margin-right: 6px;
    vertical-align: middle;
}

.skills--info--p .skill-choosen{
    width: 100%;
    height: fit-content;
    border: 2px solid red;
}



