
/* Styling the main login page  */
.container-main{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;  /* Horizontal Alignment  */
    align-items: center;      /*  Vertical Alignment  */
}

/* Styling the conatiner that contains the login page */
.container{
    width: 80%;
    max-width: 500px;
    height: 350px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.03);
    border-radius: 20px;
    padding: 20px;
    background: linear-gradient(
    180deg,
    #cfe9f6 0%,
    #eef6fb 50%,
    #ffffff 100%
  );
    box-shadow: 
    0 20px 40px rgba(0, 40, 80, 0.12),
    0 4px 12px rgba(0, 40, 80, 0.08);
}
.choosing--buttons{
    display: flex;
    width: 100%;
}
.choosing--buttons button{
    justify-content: space-evenly;
    width: 40%;
    margin: auto 20px auto 20px;
    height: 40px;
}

#login-form{
    display: grid;
    height: 200px;
}

#signup-form {
    display: grid;
    height: 200px;
}


.container h2 {
    width: 100%;
    font-weight: normal;
    text-align: center;
    align-self: center;
    font-family: sans-serif;
}

.container button {
    border-radius: 10px;
    border: 0.5px solid #D9FFF8;
    cursor: pointer;
    font-size: 1.15rem;
    font-weight:550;
    font-family: sans-serif;
}

.block{
    width: 100%;
    align-content: center;
}

.inp{
    height: 80%;
}

.login{
    height: 80%;
}

.option.choosen{
    background-color: #58A4B0;
    color: white;
}
.signUp.choosen{
    background-color: #58A4B0;
    color: white; 
}

.signUp {
    height: 100%;
}

.container input{
    width: 100%;
    height: 70%;
    border-radius: 14px;
    border: 1px solid #cdcecf; 
    text-indent: 10px;
    background-color: #f3f4f6;
    color: #111827;
}

.container p{
    text-align: start;
    display: inline;
}

.policy{
    color: #1B1B1E;
    cursor: pointer;
}

.policy a{
    text-decoration: none;
}

.policy a:hover{
    color: rgb(106, 106, 162);
    text-decoration: underline;
    font-weight: bolder;
}

.login-btn input{
    height: 80%;
    cursor: pointer;
    background-color: black;
    color: whitesmoke;
}

.signup-btn input{
    height: 80%;
    cursor: pointer;
    background-color: black;
    color: whitesmoke;
}

.container h5{
    align-items: flex-end;
    justify-self: flex-end;
}

.new-user{
    height: 0px;
    text-align: end;
}

.a-tag{
    color: #58A4B0;
    cursor: pointer;
    text-decoration: none;
    color: red;
}
.a-tag:hover{
    color: #2D728F;
    text-decoration: underline;
    font-weight: 900;
}

.login-choosen{
    background-color: #ACD2ED;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    font-family: sans-serif;
}

.signUp-choosen{
    background-color: #ACD2ED;
    color:  white;
    font-size: 1rem;
    font-weight: bold;

} 

.footer-signup{
    margin-top: 20px;
}
.footer-login{
    margin-top: 0px;
}

.footer-signup input{
    width: 20px;
}
.footer-login input{
    width: 20px;
}

#signup-form{
    grid-column: 1/ 3;
}

.signup1 input{
    height: 80%;
}
